<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxe.lx.mapper.ClassGroupingMapper">
    <resultMap id="ClassGrouping" type="com.lxe.lx.pojo.ClassGrouping">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="class_rule" jdbcType="VARCHAR" property="classRule" />
        <result column="class_condition" jdbcType="VARCHAR" property="classCondition" />
        <result column="volume" jdbcType="INTEGER" property="volume" />
        <result column="create_id" jdbcType="VARCHAR" property="createId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_id" jdbcType="VARCHAR" property="updateId" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="state" jdbcType="VARCHAR" property="state" />
        <result column="version" jdbcType="INTEGER" property="version" />
    </resultMap>
    <sql id="tableName">
        lx_class_grouping
    </sql>
    <insert id="add" parameterType="com.lxe.lx.pojo.ClassGrouping">
        insert into lx_class_grouping
        (id,
         name,
         class_rule,
         class_condition,
         volume,
         create_id,
         create_time,
         state,
         version
        )values(
                   #{id},
                   #{name},
                   #{classRule},
                   #{classCondition},
                   #{volume},
                   #{createId},
                   #{createTime},
                   #{state},
                   #{version}
               )
    </insert>
    <update id="edit" parameterType="com.lxe.lx.pojo.ClassGrouping">
        update
        lx_class_grouping
        set
        <if test="name !=null and name !=''">
            name = #{name},
        </if>
        <if test="classRule !=null and classRule !=''">
            class_rule = #{classRule},
        </if>
        <if test="classCondition !=null and classCondition !=''">
            class_condition = #{classCondition},
        </if>
        <if test="volume !=null and volume !=''">
            volume = #{volume},
        </if>
        <if test="updateId !=null and updateId !=''">
            update_id = #{updateId},
        </if>
        <if test="updateTime !=null and updateTime !=''">
            update_time = #{updateTime},
        </if>
        <!--        <if test="version !=null and version !=''">-->
        <!--            version = #{version},-->
        <!--        </if>-->
        <if test="state !=null and state !=''">
            state = #{state},
        </if>
        version = version+1
        where
        id = #{id}
    </update>
    <select id="num" parameterType="com.lxe.lx.domain.qo.ClassGroupingQO" resultType="java.lang.Integer">
        select count(*) from lx_class_grouping f
        where 1 = 1
        <!--        <if test='queryType != null and queryType == "0"'>-->
        <!--            <if test="condition != null and condition != ''">&lt;!&ndash; 关键词检索 &ndash;&gt;-->
        <!--                and-->
        <!--                (-->
        <!--                f.entrustment_no like concat('%',#{condition} ,'%' )-->
        <!--                )-->
        <!--            </if>-->
        <!--        </if>-->
        <!--         <if test='queryType != null and queryType == "1"'>-->
        <if test="name != null and name != ''">
            and	f.name = #{name}
        </if>
        <if test="classRule != null and classRule != ''">
            and	f.class_rule = #{classRule}
        </if>
        <if test="classCondition != null and classCondition != ''">
            and	f.class_condition = #{classCondition}
        </if>
        <if test="volume != null and volume != ''">
            and	f.volume = #{volume}
        </if>
        <if test="state != null and state != ''">
            and	f.state = #{state}
        </if>
        <!--            <if test="status != null ">-->
        <!--                and	f.status = #{status}-->
        <!--            </if>-->
        <!--            <if test="startTime != null and startTime != ''">&lt;!&ndash; 单据日期检索 &ndash;&gt;-->
        <!--                and	DATE_FORMAT(f.create_time,'%Y-%m-%d')>=	#{startTime}-->
        <!--            </if>-->
        <!--            <if test="endTime != null and endTime != ''">&lt;!&ndash; 单据日期检索 &ndash;&gt;-->
        <!--                and	DATE_FORMAT(f.create_time,'%Y-%m-%d') &lt;=	#{endTime}-->
        <!--            </if>-->
        <!--        </if>-->
    </select>
    <select id="list" parameterType="com.lxe.lx.domain.qo.ClassGroupingQO" resultType="com.lxe.lx.pojo.ClassGrouping">
        select f.id,
        f.name,
        f.class_rule as classRule,
        f.class_condition as classCondition,
        f.volume,
        f.create_id as createId,
        f.create_time as createTime,
        f.update_id as updateId,
        f.update_time as updateTime,
        f.state,
        f.version
        from lx_class_grouping f
        where 1 = 1
        <!--        <if test='queryType != null and queryType == "0"'>-->
        <!--            <if test="condition != null and condition != ''">&lt;!&ndash; 关键词检索 &ndash;&gt;-->
        <!--                and-->
        <!--                (-->
        <!--                f.entrustment_no like concat('%',#{condition} ,'%' )-->
        <!--                )-->
        <!--            </if>-->
        <!--        </if>-->
        <!--         <if test='queryType != null and queryType == "1"'>-->
        <if test="name != null and name != ''">
            and	f.name = #{name}
        </if>
        <if test="classRule != null and classRule != ''">
            and	f.class_rule = #{classRule}
        </if>
        <if test="classCondition != null and classCondition != ''">
            and	f.class_condition = #{classCondition}
        </if>
        <if test="volume != null and volume != ''">
            and	f.volume = #{volume}
        </if>
        <if test="state != null and state != ''">
            and	f.state = #{state}
        </if>
        <!--            <if test="status != null ">-->
        <!--                and	f.status = #{status}-->
        <!--            </if>-->
        <!--            <if test="startTime != null and startTime != ''">&lt;!&ndash; 单据日期检索 &ndash;&gt;-->
        <!--                and	DATE_FORMAT(f.create_time,'%Y-%m-%d')>=	#{startTime}-->
        <!--            </if>-->
        <!--            <if test="endTime != null and endTime != ''">&lt;!&ndash; 单据日期检索 &ndash;&gt;-->
        <!--                and	DATE_FORMAT(f.create_time,'%Y-%m-%d') &lt;=	#{endTime}-->
        <!--            </if>-->
        <!--        </if>-->
        <if test='pageType != null and pageType == "1"'>
            order by f.${orderField} ${orderRule} limit #{start},#{pageSize}
        </if>
    </select>
    <select id="getClassGroupingById" resultMap="ClassGrouping" parameterType="java.lang.String">
        select f.id,
               f.name,
               f.class_rule,
               f.class_condition,
               f.volume,
               f.create_id,
               f.create_time,
               f.update_id,
               f.update_time,
               f.state,
               f.version from lx_class_grouping as f
        where f.id= #{id}
    </select>
    <delete id="deleteById" parameterType="java.lang.String">
        delete from lx_class_grouping where id = #{id}
    </delete>
</mapper>