<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxe.lx.mapper.LXClassMapper">
    <resultMap id="LXClass" type="com.lxe.lx.pojo.LXClass">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="information" jdbcType="VARCHAR" property="information" />
        <result column="notice" jdbcType="VARCHAR" property="notice" />
        <result column="class_grouping_id" jdbcType="VARCHAR" property="classGroupingId" />
        <result column="teacher_id" jdbcType="VARCHAR" property="teacherId" />
        <result column="create_id" jdbcType="VARCHAR" property="createId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_id" jdbcType="VARCHAR" property="updateId" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="state" jdbcType="VARCHAR" property="state" />
        <result column="version" jdbcType="INTEGER" property="version" />
    </resultMap>
    <sql id="tableName">
        lx_class
    </sql>
    <insert id="add" parameterType="com.lxe.lx.pojo.LXClass">
        insert into lx_class
        (id,
         name,
         information,
         notice,
         class_grouping_id,
         teacher_id,
         create_id,
         create_time,
         state,
         version
        )values(
                   #{id},
                   #{name},
                   #{information},
                   #{notice},
                   #{classGroupingId},
                   #{teacherId},
                   #{createId},
                   #{createTime},
                   #{state},
                   #{version}
               )
    </insert>
    <update id="edit" parameterType="com.lxe.lx.pojo.Customer">
        update
        lx_class
        set
        <if test="name !=null and name !=''">
            name = #{name},
        </if>
        <if test="information !=null and information !=''">
            information = #{information},
        </if>
        <if test="notice !=null and notice !=''">
            notice = #{notice},
        </if>
        <if test="classGroupingId !=null and classGroupingId !=''">
            class_grouping_id = #{classGroupingId},
        </if>
        <if test="teacherId !=null and teacherId !=''">
            teacher_id = #{teacherId},
        </if>

        <if test="updateId !=null and updateId !=''">
            update_id = #{updateId},
        </if>
        <if test="updateTime !=null and updateTime !=''">
            update_time = #{updateTime},
        </if>
        <!--        <if test="version !=null and version !=''">-->
        <!--            version = #{version},-->
        <!--        </if>-->
        <if test="state !=null and state !=''">
            state = #{state},
        </if>
        version = version+1
        where
        id = #{id}
    </update>
    <select id="getLXClassByUserName" resultMap="LXClass" parameterType="java.lang.String">
        select t.id,
               t.name,
               t.information,
               t.notice,
               t.class_grouping_id as classGroupingId,
               t.teacher_id as teacherId,
               t.create_id as createId,
               t.create_time as createTime,
               t.update_id as updateId,
               t.update_time as updateTime,
               t.state,
               t.version from lx_class as t
        where t.name = #{name}
    </select>
    <select id="getLXClassById" resultMap="LXClass" parameterType="java.lang.String">
        select t.id,
               t.name,
               t.information,
               t.notice,
               t.class_grouping_id,
               t.teacher_id,
               t.create_id,
               t.create_time,
               t.update_id,
               t.update_time,
               t.state,
               t.version from lx_class as t
        where t.id = #{id}
    </select>
    <select id="num" parameterType="com.lxe.lx.domain.qo.LXClassQO" resultType="java.lang.Integer">
        select count(*) from lx_class f
        where 1 = 1
        <!--        <if test='queryType != null and queryType == "0"'>-->
        <!--            <if test="condition != null and condition != ''">&lt;!&ndash; 关键词检索 &ndash;&gt;-->
        <!--                and-->
        <!--                (-->
        <!--                f.entrustment_no like concat('%',#{condition} ,'%' )-->
        <!--                )-->
        <!--            </if>-->
        <!--        </if>-->
        <!--         <if test='queryType != null and queryType == "1"'>-->
        <if test="name != null and name != ''">
            and	f.name = #{name}
        </if>
        <if test="classGroupingId != null and classGroupingId != ''">
            and	f.class_grouping_id = #{classGroupingId}
        </if>
        <if test="teacherId != null and teacherId != ''">
            and	f.teacher_id = #{teacherId}
        </if>
        <if test="state != null and state != ''">
            and	f.state = #{state}
        </if>
        <!--            <if test="status != null ">-->
        <!--                and	f.status = #{status}-->
        <!--            </if>-->
        <!--            <if test="startTime != null and startTime != ''">&lt;!&ndash; 单据日期检索 &ndash;&gt;-->
        <!--                and	DATE_FORMAT(f.create_time,'%Y-%m-%d')>=	#{startTime}-->
        <!--            </if>-->
        <!--            <if test="endTime != null and endTime != ''">&lt;!&ndash; 单据日期检索 &ndash;&gt;-->
        <!--                and	DATE_FORMAT(f.create_time,'%Y-%m-%d') &lt;=	#{endTime}-->
        <!--            </if>-->
        <!--        </if>-->
    </select>
    <select id="list" parameterType="com.lxe.lx.domain.qo.CustomerQO" resultType="com.lxe.lx.pojo.Customer">
        select t.id,
        t.name,
        t.information,
        t.notice,
        t.class_grouping_id,
        t.teacher_id,
        t.create_id,
        t.create_time,
        t.update_id,
        t.update_time,
        t.state,
        t.version
        from lx_class as t
        where 1 = 1
        <!--        <if test='queryType != null and queryType == "0"'>-->
        <!--            <if test="condition != null and condition != ''">&lt;!&ndash; 关键词检索 &ndash;&gt;-->
        <!--                and-->
        <!--                (-->
        <!--                f.entrustment_no like concat('%',#{condition} ,'%' )-->
        <!--                )-->
        <!--            </if>-->
        <!--        </if>-->
        <!--         <if test='queryType != null and queryType == "1"'>-->
        <if test="name != null and name != ''">
            and	f.name = #{name}
        </if>
        <if test="classGroupingId != null and classGroupingId != ''">
            and	f.class_grouping_id = #{classGroupingId}
        </if>
        <if test="teacherId != null and teacherId != ''">
            and	f.teacher_id = #{teacherId}
        </if>
        <if test="state != null and state != ''">
            and	f.state = #{state}
        </if>
        <!--            <if test="status != null ">-->
        <!--                and	f.status = #{status}-->
        <!--            </if>-->
        <!--            <if test="startTime != null and startTime != ''">&lt;!&ndash; 单据日期检索 &ndash;&gt;-->
        <!--                and	DATE_FORMAT(f.create_time,'%Y-%m-%d')>=	#{startTime}-->
        <!--            </if>-->
        <!--            <if test="endTime != null and endTime != ''">&lt;!&ndash; 单据日期检索 &ndash;&gt;-->
        <!--                and	DATE_FORMAT(f.create_time,'%Y-%m-%d') &lt;=	#{endTime}-->
        <!--            </if>-->
        <!--        </if>-->
        <if test='pageType != null and pageType == "1"'>
            order by t.${orderField} ${orderRule} limit #{start},#{pageSize}
        </if>
    </select>
    <delete id="deleteById" parameterType="java.lang.String">
        delete from lx_class where id = #{id}
    </delete>
</mapper>